<div class="cp-h5-main">
	<div class="cui-view cui-layer cui-alert cp-h5-collect" id="cui-1415327286173" style="margin-left:-150px;margin-top:-137px;z-index:10000;width:auto">
		<div class="cui-pop-box group-select-modal">
			<div class="cui-hd group-select-hd">
				<i class="i-select-success"></i>收藏成功<i class="i-close"></i>
			</div>
			<div class="cui-bd">
				<p class="groupText">
					分组到：
				</p>
				<ul class="pop-group-list">
				</ul>
				<div class="cp-newGroupBtn">
					<i class="i-plus"></i>新分组
				</div>
			</div>
		</div>
	</div>
	<div class="cui-view cui-layer cui-alert cp-h5-newGroup" id="cui-1415327286173" style="margin-left:-141px;margin-top:-79px;z-index:10000;width:auto;display:none;">
		<div class="cui-pop-box">
			<div class="cui-bd">
				<div class="cui-error-tips">
					<p style="padding-bottom:10px;font-weight:bold">
						新建分组
					</p>
					<input type="text" placeholder="分组名称" class="group-new-input"><i class="group-clear-val" style="display:none;position: absolute; background-color: #ccc; font-size:18px; height: 18px; width: 18px; right: 32px; top: 63px; border-radius: 11px; line-height:18px;text-align:center; color:#fff;">×</i>
				</div>
				<div class="cui-roller-btns">
					<div class="cui-flexbd cui-btns-cancel">
						取消
					</div>
					<div class="cui-flexbd cui-btns-sure">
						确认
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cui-view cui-mask cui-opacitymask cp-h5-mask" id="cui-1415327286174" style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999;">
	</div>
	<div class="cp-h5-collect-toast" style="left:50%; margin-left:-130px; visibility: visible; z-index: 113003; top: 50%; position: fixed; display: none;">
		<div style="width: 220px; line-height: 24px; border-radius: 5px; background: rgba(0,0,0,.7); padding: 10px 15px; color: #fff; font-weight: 700; text-align: center; word-break: break-all;">
			<div class="cui-layer-content">
			</div>
		</div>
	</div>
</div>